<ion-view title="Carlo Cortez" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="carloCortez-heading2" style="color:#000000;text-align:center;">Details</h1>
    <ion-list id="carloCortez-list3">
      <ion-item class="item-avatar balanced" id="carloCortez-list-item15">
        <img src="img/cZ0thlNTmOxmODyZj6Pt_car.jpeg">
        <h2balanced>Carlo 09750197625
          <p>IT Specialist, MVP</p>
        </h2balanced>
      </ion-item>
    </ion-list>
    <div id="carloCortez-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CALL OFFICE:</p>

      <p style="color:#000000;">212-999-8887</p>
    </div>
    <div id="carloCortez-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">ADDRESS :</p>

      <p style="color:#FF0000;">ST. JUDE SAN FERNANDO PAMPANGA</p>
    </div>
    <div id="carloCortez-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#001AFF;">STATUS :</p>

      <p style="color:#001AFF;">SINGLE</p>
    </div>
    <div id="carloCortez-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#FF00FF;">ADD TO CONTACTS </p>

      <p style="color:#FF00FF;">ADD LOCATION</p>

      <p style="color:#FF00FF;">CHANGE PICTURE</p>

      <p style="color:#FF00FF;">DELETE CONTACTS</p>
    </div>
  </ion-content>
</ion-view>