<ion-view title="Contacts" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="contacts-heading1" style="color:#0012FF;font-weight:600;font-style:italic;text-align:center;">Contacts</h1>
    <form id="contacts-form1" class="list">
      <label class="item item-input" id="contacts-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <ion-list id="contacts-list1">
      <ion-item class="item-avatar item-icon-right balanced" id="contacts-list-item4" ui-sref="carloCortez()">
        <img src="img/au9bXCC5TQm1J1oP3P5L_index.jpeg">
        <h2balanced>Carlo 09750197625
          <p>IT Specialist, MVP</p>
          <i class="icon ion-ios-email"></i>
          <ion-option-button class="button-positive"></ion-option-button>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar item-icon-right assertive" id="contacts-list-item5" ui-sref="sherinaPena()">
        <img src="img/YouE3m2gRW6J15YktrDN_index.jpeg">
        <h2assertive>Sherina 09558722665
          <p>Networker, Clousdstaff</p>
          <i class="icon ion-social-twitter"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right royal" id="contacts-list-item6" ui-sref="sarahAbdeen()">
        <img src="img/Y7CqUDDcSxG9Ac9uLHSf_x--i_ils_400x400.jpg">
        <h2royal>Sarah 09452513485
          <p>Quality Assurance, Twist</p>
          <i class="icon ion-social-snapchat"></i>
        </h2royal>
      </ion-item>
    </ion-list>
    <ion-list id="contacts-list2">
      <ion-item class="item-avatar item-icon-right calm" id="contacts-list-item11" ui-sref="seanLimpin()">
        <img src="img/FL2g6essTwOGmN8RpyXY_GbwESVDX_bigger.jpg">
        <h2calm>Sean 09223344887
          <p>IT Faculty, Uni. Assumption</p>
          <i class="icon ion-ios-person"></i>
        </h2calm>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced" id="contacts-list-item12" ui-sref="shaireenTongol()">
        <img src="img/ua8l8gaRr6lAkB9IjR1q_index.jpeg">
        <h2balanced>Shai 09163674507
          <p>Endorser, GMA</p>
          <i class="icon ion-ios-telephone"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>