<ion-view title="Sarah Abdeen" id="page4">
  <ion-content padding="true" class="has-header">
    <h1 id="sarahAbdeen-heading4" style="color:#000000;text-align:center;">Details</h1>
    <ion-list id="sarahAbdeen-list5">
      <ion-item class="item-avatar royal" id="sarahAbdeen-list-item21">
        <img src="img/FTvi3poFQRewwwg5jMjl_x--i_ils_400x400.jpg">
        <h2royal>Sarah 09452513485
          <p>Quality Assurance, Twist</p>
        </h2royal>
      </ion-item>
    </ion-list>
    <div id="sarahAbdeen-markdown17" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CALL OFFICE</p>

      <p style="color:#000000;">212-333-8241</p>
    </div>
    <div id="sarahAbdeen-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#FF002A;">ADDRESS: </p>

      <p style="color:#FF002A;">BALANTACAN LUBAO PAMPANGA</p>
    </div>
    <div id="sarahAbdeen-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#1100FF;">STATUS: </p>

      <p style="color:#1100FF;">SINGLE</p>
    </div>
    <div id="sarahAbdeen-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#FF00F5;">ADD TO CONTACTS </p>

      <p style="color:#FF00F5;">ADD LOCATION</p>

      <p style="color:#FF00F5;">CHANGE PICTURE</p>

      <p style="color:#FF00F5;">DELETE CONTACTS</p>
    </div>
  </ion-content>
</ion-view>