<ion-view title="Sean Limpin" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="seanLimpin-heading5" style="color:#000000;text-align:center;">Details</h1>
    <ion-list id="seanLimpin-list6">
      <ion-item class="item-avatar calm" id="seanLimpin-list-item22">
        <img src="img/Lo1gDtCSQbyidx4X1uAC_GbwESVDX_bigger.jpg">
        <h2calm>Sean 09223344887
          <p>IT Faculty, Uni. Assumption</p>
        </h2calm>
      </ion-item>
    </ion-list>
    <div id="seanLimpin-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CALL OFFICE</p>

      <p style="color:#000000;">212-333-8241</p>
    </div>
    <div id="seanLimpin-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#FF0012;">ADDRESS:</p>

      <p style="color:#FF0012;">SAN FERNANDO PAMPANGA</p>
    </div>
    <div id="seanLimpin-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#2B00FF;">STATUS:</p>

      <p style="color:#2B00FF;">SINGLE</p>
    </div>
    <div id="seanLimpin-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#EC00FF;">ADD TO CONTACTS </p>

      <p style="color:#EC00FF;">ADD LOCATION</p>

      <p style="color:#EC00FF;">CHANGE PICTURE</p>

      <p style="color:#EC00FF;">DELETE CONTACTS</p>
    </div>
  </ion-content>
</ion-view>