<ion-view title="Shaireen Tongol" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="shaireenTongol-heading6" style="color:#000000;text-align:center;">Details</h1>
    <ion-list id="shaireenTongol-list7">
      <ion-item class="item-avatar balanced" id="shaireenTongol-list-item23">
        <img src="img/ZtZtjxFESdZ9Ga9t81tO_hb.jpeg">
        <h2balanced>Shai 09163674507
          <p>Endorser, GMA</p>
        </h2balanced>
      </ion-item>
    </ion-list>
    <div id="shaireenTongol-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CALL OFFICE</p>

      <p style="color:#000000;">212-333-8241</p>
    </div>
    <div id="shaireenTongol-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#FF0033;">ADDRESS:</p>

      <p style="color:#FF0033;">SAN SIMON PAMPANGA</p>
    </div>
    <div id="shaireenTongol-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#3D00FF;">STATUS:</p>

      <p style="color:#3D00FF;">SINGLE</p>
    </div>
    <div id="shaireenTongol-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#FF00F2;">ADD TO CONTACTS </p>

      <p style="color:#FF00F2;">ADD LOCATION</p>

      <p style="color:#FF00F2;">CHANGE PICTURE</p>

      <p style="color:#FF00F2;">DELETE CONTACTS</p>
    </div>
  </ion-content>
</ion-view>