<ion-view title="Sherina Pena" id="page3">
  <ion-content padding="true" class="has-header">
    <h1 id="sherinaPena-heading3" style="color:#000000;text-align:center;">Details</h1>
    <ion-list id="sherinaPena-list4">
      <ion-item class="item-avatar assertive" id="sherinaPena-list-item20">
        <img src="img/rTcIM5i1Tcu70FCOZe11_jbj.jpeg">
        <h2assertive>Sherina 09558722665
          <p>Networker, Clousdstaff</p>
        </h2assertive>
      </ion-item>
    </ion-list>
    <div id="sherinaPena-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">CALL OFFICE</p>

      <p style="color:#000000;">212-888-1727</p>
    </div>
    <div id="sherinaPena-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#FF0014;">ADDRESS:</p>

      <p style="color:#FF0014;">STO. CRISTO GUAGUA PAMPANGA</p>
    </div>
    <div id="sherinaPena-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#0006FF;">STATUS:</p>

      <p style="color:#0006FF;">SINGLE</p>
    </div>
    <div id="sherinaPena-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#FF00FF;">ADD TO CONTACTS </p>

      <p style="color:#FF00FF;">ADD LOCATION</p>

      <p style="color:#FF00FF;">CHANGE PICTURE</p>

      <p style="color:#FF00FF;">DELETE CONTACTS</p>
    </div>
  </ion-content>
</ion-view>